* {
    padding: 0px;
    margin: 0px;
}

header {
    background-image: url(img/vr5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 480px;
    max-width: 100%;
    color: white;
}

h1 {
    margin: 15px;
    margin-left: 50px;
}

.linha_1 {
    display: flex;
    justify-content: space-between;
    height: 50px;
    flex-wrap: wrap;
}

.contatos {
    margin-top: 25px;
    margin-right: 50px;
}

.contatos>a {
    text-decoration: none;
    color: white;
    margin: 15px;
}

.texto {
    margin-top: 90px;
    height: 50px;
}

.centro {
    display: flex;
    flex-wrap: wrap;
}

.caixa {
    cursor: pointer;
    margin-left: 50px;
    margin-top: 40px;
    width: 400px;
    height: 180px;
    border: 1px solid white;
}

.caixa>p {
    margin-top: 20px;
    text-align: center;
    font-size: 50px;
    font-weight: 100;
}

.btn_icon {
    display: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: white;
}

@media(max-width: 600px) {
    .btn_icon {
        display: block;
    }
    .contatos {
        position: absolute;
        display: flex;
        flex-direction: column;
        top: 0;
        background-color: rgb(17, 17, 17);
        height: 100%;
        width: 190px;
        animation-duration: 1s;
        margin-left: -100vw;
    }
    h1 {
        margin: auto;
    }
    .caixa {
        margin: auto;
        width: 160px;
    }
    .caixa>p {
        font-size: 25px;
    }
    .contatos {
        margin-top: 0px;
    }
}

@keyframes showsidebar {
    from {
        margin-left: -100vw;
    }
    top {
        margin-left: 0vw;
    }
}